<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDao.UserDao">




    <insert id="addUsers" parameterType="users.User">
     INSERT INTO User(username,password) VALUES (#{username},
                                                   #{password})
    </insert>


    <select id="login" parameterType="users.User"  resultType="java.util.Map">
       select *from User where username = #{username}
        <if test="password!=null">
           and password=#{password}
         </if>
    </select>



</mapper>

